body {
    background-color: #dbd9d9;
}
div {
    text-align: center;
    color:#604925; 
    font-size: 36px;
}
p {
    text-align: center;
    color: #f7af3b;
}
a {
    color: #f04224;
    ;
}